.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  max-width: 250px;
  gap: 10px;
  background: inherit;
  align-items: center;
  justify-content: center;
}

.grid-item {
  display: flex;
  background-color: white;
  border: 1px solid rgba(28, 222, 170, 0.8);
  padding: 2px;
  height: 100px;
  width: 100px;
  cursor: pointer;
}

#gameover {
  visibility: hidden;
  display: flex;
  position: absolute;
  background-color: gray;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 2px;
  height: 100vh;
  width: 100vw;
  opacity: 0.8;
  color: black;
  align-items: center;
  justify-content: center;
  font-size: 5em;
  z-index: 1000;
}
#gameon {
  display: flex;
  position: absolute;
  background-color: inherit;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 2px;
  height: 100vh;
  width: 100vw;
  opacity: 0.5;
  color: black;
  align-items: center;
  justify-content: center;
  font-size: 5em;
}
